### Python ###
*.py[cod]

### Translations ###
*.pot

### Django ###
*.log
.idea
.sass-cache
PartsFB/static/public/
/static/

### Vue ###
node_modules/
package-lock.json
webpack-stats.json

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
